* {
	font-family: JetBrainsMono;
	font-size: 12px;
	min-height: 0;
	color: white;
}

window#waybar {
	background-color: transparent;
}

#workspaces {
	margin-top: 4px;
	margin-bottom: 0px;
	margin-right: 8px;
	margin-left: 24px;
}

#workspaces button {
	border-radius: 16px;
	margin-right: 12px;
	padding: 4px 12px;
	font-weight: bolder;
	background-color: #181818;
}

#workspaces button.active, #workspaces button.focused {
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;    
	background: #7C9D96;
}

#custom-arch {
	font-size: 16px;
	margin-left: 12px;
	margin-right: 12px;
}

#tray,
#mpd,
#custom-weather,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery, 
#clock, 
#idle_inhibitor,
#network {
	padding: 0 12px;
}

